.container
    .card
        .card__header_upper Titan's card
        .card__content_right You are not prepared! 
        .card__control_outline_green_container-size
            button ATTACK!
    .card
        .card__header_bold Titan's card
        .card__content_upper You are not prepared! 
        .card__control_primary_content-size
            button ATTACK!        