div(class="navbar navbar-inverse")
    .container
        .navbar-header               
            img.navbar-brand.logo(alt="Logo", src="../../assets/logo.png")
            a.navbar-brand.brand(href="/page-1/page-1.html") TENGA
        div(class="collapse navbar-collapse")
            ul.nav.navbar-nav.navbar-right.naviki
                li
                    a(href="/page-2/page-2.html") About us
                li
                    a(href="/page-3/page-3.html") Rent
                li
                    a(href="/page-4/page-4.html") Calculator