.container  
    .sidebar 
        .sidebar__title_upper Tendinitis's sidebar
        .sidebar__triangle_down_red
        .sidebar__triangle_up_primary
        .sidebar__triangle_left_green
        .sidebar__triangle_right_primary