.footer
    .footer__social
        a(href="https://vk.com/spark1er") VK
        a(href="https://github.com/Spark1er") Github
    .footer__copyright
        span © 2018 Copyright:  Kirizey Spark1er Valirsky