@import "./_vars.scss";

@mixin linky() {
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  line-height: 38px;
  display: table-cell;
  width: $link-width;
  text-decoration: none;
}

body {
  width: 100%;
  margin: 0;
  background-color: rgb(124, 124, 124);
  font-family: Oswald, Tahoma;
}
.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
  table-layout: fixed;
  font-weight: bold;
  background-color: $black-background-color;
  &__brand {
    padding-left: 90px;
    color: white;
    font-size: 30px;
  }
  &__link {
    @include linky();
    color: white;
    background-color: $black-background-color;

    &_active {
      @include linky();
      color: $black-background-color;
      background-color: white;
    }
    &_disable {
      @include linky();
      color: rgba(255, 255, 255, 0.452);
      background-color: $black-background-color;
    }
    &:hover {
      background-color: rgb(255, 255, 255);
      color: $black-background-color;
    }
  }
}

.container {
  .card {
    width: 800px;
    margin: 50px;
    color: white;
    &__header {
      &_upper {
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
      }
      &_bold {
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
      }
    }
    &__content {
      &_right {
        text-align: right;
        padding-bottom: 10px;
      }
      &_upper {
        text-transform: uppercase;
        padding-bottom: 10px;
      }
    }
    &__control {
      @include btn();
    }
  }
}

.footer {
  &__social {
    background-color: rgb(100, 100, 100);
    padding: 50px;
    text-transform: uppercase;
    a {
      color: white;
      text-decoration: none;
      padding-right: 40px;
    }
  }
  &__copyright {
    background-color: $black-background-color;
    text-align: center;
    padding: 10px;
    color: white;
  }
}

.container {
  color: white;
  .sidebar {
    width: 50px;
    margin-bottom: 20px;
    &__triangle {
      @include triangle(50px);
    }
    &__title {
      &_upper {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      &_italic {
        font-style: italic;
        margin-bottom: 5px;
      }
    }
  }
}

.box {
  white-space: nowrap;
  .container {
    display: inline-block;
  }
}
