<!DOCTYPE html>
html(lang="en")
  block vars
    - var cssLink = "index";
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Fr th Des li
    link(rel="stylesheet", href=`./${cssLink}.css`)
  body
    block content   
<<<<<<< HEAD
=======
      include ./components/navbar/navbar.pug
      .box
        include ./components/card/card.pug
        include ./components/sidebar/sidebar.pug
      include ./components/footer/footer.pug
      
      
>>>>>>> master
        
